body {
    font-family: Open Sans, sans sans-serif;
    background-color: black;
}

.navbar.scrolled {
    background-color: #88CDD7 !important;
    transition: background-color 200ms linear;
}

hr {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}